<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <h1 class="titulo">GameVault</h1>
    </header>

    <main class="main">
        <div class="container">
            <h2 class="text-center mb-4">Meus Jogos</h2>

            <div class="text-end mb-3">
                <a href="/cadastrar" class="btn btn-success">
                    + Novo Jogo
                </a>
            </div>

            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Título</th>
                        <th>Plataforma</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Crash Royale</td>
                        <td>Mobile</td>
                        <td><span class="badge bg-success">Disponível</span></td>
                        <td>
                            <a href="/editar" class="btn btn-warning btn-sm">Editar</a>

                            <button class="btn btn-danger btn-sm"
                                onclick="confirm('Deseja realmete exluir este jogo?')">Excluir</button>

                            <button class="btn btn-primary btn-sm">Emprestar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </main>

    <footer class="footer">

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>

</body>

</html>