<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header class="header">
        <h1 class="titulo">GameVault</h1>
    </header>

    <main class="main">

        <div class="imagem">
            <img src="/image/mario.gif" alt="mario"  style="max-width: 300px;">
        </div>

        <div class="informacao">
            <p class="Blox">Esta é uma variante do GameVault, desenvolvida pelos alunos de ADS – Módulo IV.
            A plataforma é voltada para o universo dos jogos, permitindo que os usuários visualizem, 
            compartilhem e emprestem jogos entre si.</p>

            <p class="Blox">
                Além disso, o sistema também incentiva a interação social, possibilitando que você faça amigos dentro da plataforma 
                e se conecte com outras pessoas que compartilham o mesmo interesse por games.
            </p>

            <div class="button">
                <a href="/login" class="bnt-loggin">login</a>
                <a href="/cadastro" class="bnt-loggin">cadastrar</a>
            </div>

        </div>

    </main>


    <footer class="footer">

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>